{% extends "calorie/layout.html" %}

{% block body %}  
    <div class="mb-3" style="margin-top: 40px;">
        {% if message %}
            <div class="alert alert-danger" role="alert">
                {{ message}}
            </div>
        {% endif %}
    </div>
    <div class="mb-3" style="margin-top: 40px;">
        <div class="mb-3">
            <h1>Register</h1>
        </div>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Username</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Username" name="username">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Username</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="email">
            </div>
            <div class="mb-3">
                <label for="inputPassword5" class="form-label">Password</label>
                <input type="password" name="password" id="inputPassword5" class="form-control" placeholder="Password">
            </div>
            <div class="mb-3">
                <label for="inputPassword5" class="form-label">Password</label>
                <input type="password" name="confirmation" id="inputPassword5" class="form-control" placeholder="Confirm Password">
            </div>
            <input type="submit" class="btn btn-primary" value="Register">
        </form>
    </div>

{% endblock %}